<h3 class="muted">Lista de livros</h3>
<hr />

<%= render :partial => "busca/form_busca"%>

<table class="table table-striped table-bordered">
  <tr>
    <th>Categoria</th>
    <th>Título</th>
    <th>Nº Páginas</th>
    <th>Ano</th>
    <th>ISSN</th>
    <th colspan="3">Ações</th>
  </tr>

<% @livros.each do |livro| %>
  <tr>
    <td><%= livro.categoria.nome %></td>
    <td><%= livro.titulo %></td>
    <td><%= livro.paginas %></td>
    <td><%= livro.ano %></td>
    <td><%= livro.issn %></td>
    <td><%= link_to 'Exibir', livro %></td>
    <td><%= link_to 'Editar', edit_livro_path(livro) %></td>
    <td><%= link_to 'Deletar', livro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Novo livro', new_livro_path, :class => "btn btn-primary" %>

