<p id="notice"><%= notice %></p>

<p>
  <b>Categoria:</b>
  <%= @livro.categoria.nome %>
</p>

<p>
  <b>Titulo:</b>
  <%= @livro.titulo %>
</p>

<p>
  <b>Autor(es):</b>
  <ul>
    <% @livro.autores.each do |autor| %>
      <li><%= autor.nome %></li>
    <% end %>
  </ul>  
</p>

<p>
  <b>Paginas:</b>
  <%= @livro.paginas %>
</p>

<p>
  <b>Ano:</b>
  <%= @livro.ano %>
</p>

<p>
  <b>Issn:</b>
  <%= @livro.issn %>
</p>


<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>
