<h3 class="muted">Lista de editoras</h3>
<hr />
<table class="table table-striped table-bordered">
  <tr>
    <th>Nome</th>
    <th colspan="3">Ações</th>
  </tr>

<% @editoras.each do |editora| %>
  <tr>
    <td><%= editora.nome %></td>
    <td><%= link_to 'Exibir', editora %></td>
    <td><%= link_to 'Editar', edit_editora_path(editora) %></td>
    <td><%= link_to 'Deletar', editora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Nova Editora', new_editora_path, :class => "btn btn-primary" %>
