<%= form_for(@autor, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @autor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@autor.errors.count, "error") %> prohibited this autor from being saved:</h2>

      <ul>
      <% @autor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
    <%= f.label :nome, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :nome, :class => "span8" %>
    </div>
  </div>
  
  	<div class="form-actions">
  		<input type="submit" class="btn btn-primary" value="Salvar"/>
  		<%= link_to 'Voltar', autores_path, :class => "btn" %>
	</div>
	
<% end %>
