
<h3 class="muted">Lista de autores</h3>
<hr />

<%= render :partial => "busca/form_busca"%>

<table class="table table-striped table-bordered">
  <tr>
  	<th>ID</th>
    <th>Nome</th>
    <th colspan="3">Ações</th>
  </tr>

<% @autores.each do |autor| %>
  <tr>
  	<td><%= autor.id %></td>
    <td><%= autor.nome %></td>
    <td><%= link_to 'Exibir', autor %></td>
    <td><%= link_to 'Editar', edit_autor_path(autor) %></td>
    <td><%= link_to 'Deletar', autor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo autor', new_autor_path, :class => "btn btn-primary" %>
